<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>

    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/chat.css">
    <link rel="stylesheet" href="./css/responsive.css">

    <script src="https://kit.fontawesome.com/dc49a974a4.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="login-container">
        <div class="initial-box">
            <img src="./imgs/chatilu.svg" alt="ilustração">
            <div class="login-box">
                <h2>Conecte-se agora e fale com novas pessoas em <span style="color: #7236fb;">tempo real</span></h2>
                <div class="login">
                    <div class="input-form">
                        <input type="text" required id="userName">
                        <label>Insira um nome</label>
                        <i class="fa-solid fa-user fa-lg"></i>
                    </div>
                    <button id="connect">Entrar</button>
                </div>
            </div>
        </div>
    </div>

    <main id="chat-display">
        <div class="groups-container">
            <div class="profile-container">
                <i class="fa-solid fa-ellipsis fa-2xl" id="openOptions"></i>
                <img src="./imgs/avatarA.svg" alt="avatarIMG" id="picProfileDetails">
                <div class="profile-details">
                    <h3 id="profileName"></h3>
                    <p id="profileID"></p>
                </div>
            </div>
            <ul>
                <li>
                    <i class="fa-solid fa-earth-americas fa-2xl"></i>
                    <h2>Chat público</h2>
                    <i class="fa-solid fa-chevron-right fa-2xl"></i>
                </li>
            </ul>
        </div>
        <div class="chat-container">
            <div class="group-message">
                <div class="group-name">
                    <i class="fa-solid fa-earth-americas fa-xl"></i>
                    <h3>Chat público</h3>
                </div>
                <div class="group-members">
                    <p>Online:</p>
                </div>
            </div>
            <div class="output-message">
            </div>
            <div class="send-message-container">
                <div class="input-message">
                    <input type="text" id="message" required placeholder="Escreva uma mensagem...">
                    <i class="fa-solid fa-paper-plane fa-xl" id="submit-message"></i>
                </div>
            </div>
            
        </div>
    </main>

    <div class="avatar-options-container">
        <span class="blur"></span>
        <div class="avatar-options">
            <img src="./imgs/avatarA.svg" class="avatarButton" alt="">
            <img src="./imgs/avatarB.svg" class="avatarButton" alt="">
            <img src="./imgs/avatarC.svg" class="avatarButton" alt="">
            <img src="./imgs/avatarD.svg" class="avatarButton" alt="">
        </div>
    </div>

    <audio id="messageNotify">
        <source src="./sounds/messageNotify.mp3" type="audio/mp3">
    </audio>
    <audio id="entryNotify">
        <source src="./sounds/entryNotify.mp3" type="audio/mp3">
    </audio>
    <audio id="leftNotify">
        <source src="./sounds/leftNotify.mp3" type="audio/mp3">
    </audio>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
</body>
</html>